.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}


nav{
   display: flex;
   justify-content: space-between;
   padding:80px;
   align:center;
   
}
nav h1{
   color: blueviolet;
   font-size: 40px;
   
}
.btn {
 background-color: rgb(100, 9, 185);
 color: aliceblue;
 list-style: none;
 padding: 10px;
 border-radius: 5px;
 }
 li{
   list-style: none;
 }
 nav ul{
   align-items:center;
 }
 header{
   background-image:url(../Assets/Hero-bg.png);
   height: 600px;
 }
 .text{
   text-align:center;
   padding: 12px;0px;
   font-size: 30px;
   font-weight: bold;
  

 }
 .new-text{
     text-align:le;
   padding: 12px 0px;
   font-size: 25px;
   color: #252432;
    padding:30px;


 }
 .color{
  color: #82818d;
  padding-bottom:30px;

 }
 
 
 
 .new-text {
    display: flex;
   justify-content:space-between;
   


 }

 .new-text img{  border-radius: 50px;}