.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}


nav{
   display: flex;
   justify-content: space-between;
   padding:80px;
   align:center;
   
}
nav h1{
   color: blueviolet;
   font-size: 60px;
   
}
nav span{
  color:rgb(33, 1, 63);
}
.btn-basic {
 background-color: rgb(100, 9, 185);
 color: aliceblue;
 list-style: none;
 padding: 10px;
 border-radius: 5px;
 width: 100px;
 height: 50px;
 font-size: large;
 }
 .btn{
   background-color: rgb(100, 9, 185);
 color: aliceblue;
 list-style: none;
 padding: 10px;
 border-radius: 5px;
 
 

 }
 li{
   list-style: none;
 }
 nav ul{
   align-items:center;
 }
 header{
   background-image:url(../Assets/Hero-bg.png);
   height: 600px;
 }
 .text{
   text-align:center;
   padding: 12px;0px;
   font-size: 30px;
   font-weight: bold;
  

 }
 .new-text{
     text-align:le;
   padding: 12px 0px;
   font-size: 25px;
   color: #252432;
    padding:30px;


 }
 .color{
  color: #82818d;
  padding-bottom:30px;

 }
 
 
 
 .new-text {
    display: flex;
   justify-content:space-between;
   


 }

 .new-text img{  border-radius: 50px;}
 .Productive{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color:rgb(108, 30, 180);
  font-size: 30px;
  padding:20px 90px 30px 90px;
  align-items: center;
  text-align: center;
  background-color: #d3caf7;
  margin:20px;
 }
  .Productive-users{
    padding: 70px;
    text-align: center;
    background-color:#d3caf7;
    border-radius: 60px;
    margin:80px


  }
  .text-decoration{
    text-decoration: underline;
  }